<section class="hero is-warning mt-6">
  <div class="hero-body">
    <p class="title">
      Dashboard
    </p>
    <p class="subtitle">
      Your Posts
    </p>
  </div>
</section>

{{#each posts}}

  <div class="card block">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{ title }}</p>
        <p class="subtitle">@{{user.username}} on <time datetime="{{createdAt}}">{{ createdAt }}</time></p>
        <p>{{ content }}</p>
      </div>
    </div>
  </div>
</div>
{{/each}}