<section class="hero is-warning mt-4 mb-4">
  <div class="hero-body">
    <p class="title">
      Dashboard
    </p>
    <p class="subtitle">
      Your Posts
    </p>
  </div>
</section>

{{#each posts}}

  <div class="card block">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{ title }}</p>
        <p class="subtitle">By {{ user.username}} on <time datetime="{{createdAt}}">{{ formatDate createdAt }}</time></p>
        <p>{{ content }}</p>
      </div>
    </div>
  </div>
</div>
{{/each}}