<section class="hero is-link mt-4 mb-4">
  <div class="hero-body">
    <p class="title">
    {{ post.title }}
    </p>
    <p class="subtitle">
    By {{ post.user.username }} on {{ formatDate post.createdAt }}
    </p>
  </div>
</section>

<div class="card block">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p>{{ post.content }}</p>
      </div>
    </div>
  </div>
  </div>

<div class="subtitle">Comments</div>


{{#each post.comments}}

<div class="card block">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p>{{ text }}</p>
        <p>- {{user.username}} on {{formatDate createdAt}}</p>
      </div>
    </div>
  </div>
  </div>
{{/each}}