<section class="hero is-link mt-4 mb-4">
  <div class="hero-body">
    <p class="title">
    {{ post.title }}
    </p>
    <p class="subtitle">
    By {{ post.user.username }} on {{ formatDate post.createdAt }}
    </p>
  </div>
</section>

<div class="card block">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p>{{ post.content }}</p>
      </div>
    </div>
  </div>
  </div>

<div class="subtitle">Comments</div>


{{#each post.comments}}

<div class="card block">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p>{{ text }}</p>
        <p>- {{user.username}} on {{formatDate createdAt}}</p>
      </div>
    </div>
  </div>
  </div>
{{/each}}

<div class="subtitle">Leave a Comment</div>

{{#if loggedIn}}
<form id="newComment" class="box mb-6">
    <div class="field">
      <label class="label" for="commentText">Your Comment</label>
      <textarea name="commentText" class="textarea"></textarea>
      </div>
  <div class="control">
    <button type="submit" class="button is-danger">Submit Comment</button>
  </div>
  </form>
<script src="/js/comment.js"></script>
{{else}}
<p>You must be <a href="/login">logged-in</a> to comment!</p>
{{/if}}
